<div class="user-profile">

	<!-- TODO refactor user info to partial -->
	<%= render @user %>

	<div class="user-follow-functionality">
		<%= render 'follow_form' if user_signed_in? %>

	  <%= render 'shared/stats' %>
	</div>
	<div id="render-experiences">
		<% if @user.experiences %>
			<%= render @user.experiences %>
		<% end %>
	</div>
</div>