
<%= form_tag search_path, class: "submit" do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" %>
<% end %>

<div id="render-experiences">
  <% if @experiences %>
    <%= render @experiences %>
  <% end %>
</div>
