<h1>All Experiences</h1>
<%= form_tag search_path do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" %>
<% end %>
<% if @experiences %>
  <% @experiences.each do |experience| %>
    <%= render experience %>
  <% end %>
<% end %>
