<h1>All Experiences</h1>
<% if @experiences %>
  <% @experiences.each do |experience| %>
    <%= experience.unique_place_id %>
    <% if experience.dishes %>
      <ul>
        <%= render partial: experience.dishes %>
      </ul>
    <% end %>
  <% end %>
<% end %>
