<h1>Experience:</h1>
<%= link_to "#{@experience.venue.name}", experience_path(@experience) %>
    <% if @experience.dishes %>
      <ul>
        <%= render partial: @experience.dishes %>
      </ul>
    <% end %>
