<div><%= @experience.name %> posted by: <%= link_to "#{@experience.user.username}", user_path(@experience.user) %></div>
<%= link_to 'Add another dish', new_experience_dish_path(@experience) %>
<% if @experience.dishes %>
  <% @experience.dishes.each do |dish| %>
    <%= render partial: 'dishes/show', locals: {experience: @experience, dish: dish} %>
  <% end %>
<% end %>