<div class="single-dish" id="<%= dish.id %>">
  <div class="dish-pic-container">
    <%= (dish.dishpicture.file? ? image_tag(dish.dishpicture.url(:thumb)) : image_tag("No_image_available.svg", size: '150x150', class: 'dish-pic')) %> 
  </div>
  <div class="appear-on-hover dish-description">
    <h3>Title</h3>
    <p>comment comment
     comment comment comment comment</p>
  </div>
</div>
