/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require owl.carousel
 *= require owl.theme
 *= require_self
 *= require_tree .

 */

/*------------------------------------------- GENERAL
*/

$headcolor: #373B44;
$subnav: #ffffff;
$footer: #373B44;


/*------------------------------------------- GENERAL
*/


 h1 {font-size: 1.8em;}
 h2 {font-size: 1.6em;}
 h3 {font-size: 1.4em;}
 h4 {font-size: 1.3em;}
 h5 {font-size: 1.2em;}
 h6 {font-size: 1.1em;}


/*------------------------------------------- BASIC FLEX STRUCTURE
*/

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(subtle_white_mini_waves.png);
    min-height: 100vh;

}

header, #main, footer {
    display: flex;

    width: 100%;

}

#main {
	flex: 1;
}




#top-inner-header,
#navigation-inner-header,
#inner-main,
#inner-footer {
    display: flex;

    width: 75%;
    height: auto;
    margin: 0 auto;

}



/*------------------------------------------- HEADER*/

header {
	flex-direction: column;

}

#top-header {
	/*border: 2px solid black;*/

	height: 65px;
	background-color: $headcolor;
}

#navigation-header {
	/*border: 2px solid blue;*/

	/*background-color: grey;*/
	background-color: $subnav;


}

#header-logo {
    font-family: "Oleo Script";
    font-size: 1.5em;
    color: white;
}

#top-inner-header {
	flex-direction: row;
	justify-content: space-between;

}

#navigation-inner-header {
	flex-direction: row;
	justify-content: space-between;

	height: 40px;
}

.inner-header-user{
    color: white;
    font-family: "Open Sans";
    font-size: 0.8em;
}


.nav-add-dish,
.nav-my-feed,
.nav-explore,
.nav-my-experiences {
    display:flex;
	flex: 1;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-highlight{
    background-color: #BD5532;
}

.navbar-link{
    color: white;
}

autocomplete-input{
    display: block;
    height: 25px;
}

/*------------------------------------------- MAIN */

#inner-main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Didact Gothic";
}

#render-experiences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*------------------------------------------- FOOTER*/

footer {
	height: 50px;
	background-color: $footer;
    color: #ffffff;
    font-family: "Raleway";
}

#inner-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*------------------------------------------- SEARCH BAR*/
    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }
/*------------------------------------------- */
/*------------------------------------------- */
/*------------------------------------------- */


