// Place all the styles related to the Experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.single-experience {
	margin: 20px;
	width: 300px;
	height: 370px;
}

.experience-title {
	width: 100%;
	height: 10%;

}

.owl-carousel {

	width: 100%;
	height: 90%;

}

.owl-wrapper-outer {
	width: 100%;
	height: 90%;
}

.owl-controls {
	width: 100%;
	height: 10%;
}

.owl-item {
	width: 100%;
	height: 100%;
	}

	/*TODO as elements are block elements should inherit width of parent*/